.page{
    background-color: rgba(212, 232, 255, 0.898);
    
}
#__bar0-BarLeft{
    background-color: rgb(161, 212, 241);
}
.sapMLIBShowSeparator>td{
    border: 1px solid rgb(214, 211, 211);
 }

 .stickyBar{
   margin-top: 1%;
 }
/************************************ For Home Screen **********************************************/


/************************************* For Create Voyage Screen *************************************/
.threeFlex{
    margin: 0.5%;
    border: 1px solid rgb(204, 202, 202);
}
.tableLayout{
    border: 1px solid rgb(218, 215, 215);
    
}
/************************************** Freight Simulator Screen ***************************************/
.freightSimulatorPage{
    background-color: rgb(212, 238, 240);
}
.fsBar2{
    background-color:#0e6977ed;
    font-weight: bold;
}
.fsBarTxt1{
    color: white;
}
.fsSubBar{
    background-color: #369cac !important;
}
.labelTxt{
    color: white !important;
}
 
/************************************** Bidding controller page ******************************************/
.compareIcon{
    
    margin-top: 30%;
}
.biddingTileflex{
    justify-content: space-around;
    justify-content: center;
}
 
.ongoingPanel{
    border:1px solid rgb(210, 209, 209);
    padding: 5%;
    margin: 1%;
    border-radius: 0%;
    background-color: rgb(255, 255, 255);
}

/************************************** Bidding object page ************************************************/
.panelBoard{
    background-color: white;
    padding: 3%;
}
.panelBoard1{
    border: 1px solid rgb(214, 212, 212);
    background-color: white;
    margin: 20%;
    padding: 10%;
    
}
.vPanel{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-wrap: wrap;
   
}
.panelBoard2{
    margin-left: 15% !important;
    margin-top: 15% !important;
    border: 1px solid rgb(214, 212, 212);
    width: 500px !important;
}
.companyText{
    color: green;
}
.text1{
    display: block;
}
.botxt1{
    margin-top: 3%;
    font-size: 22px;
 }
.botxt2{
    margin-top: 15%;
}
.botxt3{
    margin-top: 5%!important;
}
.vgNoText{
    float: right;
}
/************************************ For Master DashBoard Screen **********************************************/
.masterFlexBox{
    margin-bottom: 1%;
}
.mastDash{
    margin-top:5%;
    margin-left:3%;
}
/**************************************** Nautical Dashboard Screen *********************************/
/* .dashboardPanel{
    margin: 3%;
} */

.headerTxt{
    font-weight: bold;
}
.dashboardBtn{
    margin-top: 15%;
    margin-left: 23%;
}
.nauticalimg{
    margin-top: 5%;
    margin-left: 10%;
    position: fixed;
}
 

/************************************** Transaction data Dashboard  **************************************/
.iconBar{
    position: fixed;
    width: 100%;
  }
/*************************************Transaction Capture Voyage Plan Screen***********************************/
.animation{
    display: none;
}
/* Voyage Vessel Details */
.vgheading{
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid rgb(180, 179, 179);
    width: 100%;
}
.vdHeaderLayout{
    margin-left: 4rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}
 
.table{
    margin-left: 9%;
    border: 1px solid rgb(221, 217, 217);
}
 
.vdsection{
   margin-left: 8rem;
}
.vdsection2{
    margin-left: 7.4rem;
}
.voyagePanel{
    background-color: white;
    margin: 1%;
}
 
/* Voyage vessel Plan section  */
 
.vsplandetails{
    margin-left: 3rem;
}
.infoinputs{
    margin-left: 2rem;
}
 
/* Voyage Bid Details */
 
.flexbidtable{
    padding-right: 5%;
    padding-bottom: 2%;
}
.flexbtn{
    margin-left: 4.2%;
}
 
/***************************************** Business Partner Details Page ************************************/
.BPdetailsContent{
    margin-left: 35%;
}

/* Master data pages css by anurag */
 
.customHeader{
    background-color: black;
}
.size1{
    margin-left: 1rem !important;
}
.textBid{
    color: white;
}

.masterFileUpload{
    margin-left: 250px;
    margin-top: 70px;
}
 
.masterheadings{
    margin-left: 40px;
    margin-top:30px;
    font-size: 15px;
    border-bottom: 1px solid rgb(189, 187, 187);
    width: 100%;
}
 
/* file upload dialog box css */
.MastDialogButtonAlign{
    margin-top: 40px;
    margin-left: 270px;
}
.header{
    background-color: black;
    color: white;
}
.customHeaderButton{
    background-color: black;
    color: white;
}
 
/********************************* save as variant tab **********************************************/
 
.sapMCb .sapMLabel {
    margin-top: -1.5%;
}
.LabelInput1{
    margin-top: 2%;
    margin-left: 5%;
}
.LabelInput2{
    margin-left: 5%;
}
#container-nauticalfe---MastSaveAsVariant--_IDGenColumn3-ah {
    height: 16px;
}
.btnIcon{
    margin: 5px;
}
.tableHeading{
    font-size: 16px;
    margin-top: 1%;
}
.txtInfoBox{
    margin: 4%;
}
.boldText{
    font-weight: bold;
    font-size: 14px;
}
 
/* for all icon */
/* .sapMBtnIcon {
    color: rgb(194, 65, 65);
} */
 
.vaInputBox{
    margin-right: 8%;
}
.vasrLabel{
    margin-right: 6.5%;
}
 /****************************************** Request For Quotation *****************************************/
 


/*********************************Compare Live Freight Negotitation****************************************/
.VnLabel{
    margin-left: -20%;
    margin-bottom: 1.2%;
}
.mandatorylabel{
    direction: rtl; 
}
/**********************************Bidding Histrory Report***************************************************/
.CRNLabel{
    margin-left: -10%;
}
.closeBtn{
    float: right;
    margin-top: 3%;
}

/* *************************Chartering***************************** */
.vdHeaderLayout {
    display: flex;
    justify-content: space-between;
}
.vdHeaderLayout form {
    flex: 1;
    margin: 0 10px;
}


